h5 {
  color: gray;
  font-weight: bold;
}

.header_features {
  background-color: coral;
  color: white;
  font-weight: bold;
  text-align: center;
}

.btn_dialog {
  color: coral;
}

.app_bar{
    width: "100%";
}

.toolbar{
    background-color: coral;
}
